<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngFor="let produto of mercado.produtos">
    <ion-card>
      <ion-card-header>
        <span> <b>{{ produto.nome}}</b> </span>
      </ion-card-header>
      <ion-card-content>
        <p> estoque:  {{ produto.estoque}}
          <span *ngIf="produto.estoque <=  3">
            Esgotando..
          </span>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button> Teste </ion-button>
</ion-content>
