ion-card {
  margin: 8px 12px;
  border-radius: 10px;
}

.card-total {
  background: linear-gradient(135deg, #3880ff, #1a56cc);

  ion-card-title, h2 {
    color: white;
  }
}

ion-badge {
  margin-left: 8px;
}